<div class="mt-3">
    <h4 class="text-light"> Shayyanne Marasigan </h4>
    <p class="text-secondary mb-1 text-light"> Front-End Developer </p>
    <p class=" font-size-sm text-light"> 09270812643 </p>
    <a class="btn btn-primary font-weight-bold" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank" role="button"> Email </a>

    <a class="btn btn btn-primary" href="https://github.com/smarasigan12/ITEWT_Activity1" target="_blank" role="button" style="margin-left: 10px;"> Github </a>
  </div>
