
<br>

<div class="row">
    <div class="col title-col">
        Work Experiences
    </div>
</div>
<hr>

<div class="row">
    <div class="col  img-col">
        <img src="https://scontent.fmnl4-4.fna.fbcdn.net/v/t39.30808-6/298990155_466400615500597_3481120951813177856_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=pvQZk8zaLUMAX8Simv1&_nc_ht=scontent.fmnl4-4.fna&oh=00_AfDEVBB0p4lquiLYfht7paooURAByB0_L1Pwp0v3xP3JRA&oe=65B0CD3F" alt="Profile Image">
    </div>
    <div class="col title-col">
        Letran Information Technology Society
    </div>
    <div class="col description-col">
        Second Year Representative (2022-2023)
    </div>
</div>
<hr>

<div class="row">
    <div class="col-1 img-col">
        <img src="https://scontent.fmnl4-4.fna.fbcdn.net/v/t39.30808-6/298990155_466400615500597_3481120951813177856_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=pvQZk8zaLUMAX8Simv1&_nc_ht=scontent.fmnl4-4.fna&oh=00_AfDEVBB0p4lquiLYfht7paooURAByB0_L1Pwp0v3xP3JRA&oe=65B0CD3F" alt="Profile Image">
    </div>
    <div class="col-2 title-col">
        Letran Information Technology Society
    </div>
    <div class="col-9 description-col">
        Auditor (2023-2024)
    </div>
</div>
<hr>

<div class="row">
    <div class="col-1 img-col">
        <img src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t39.30808-6/315558048_463475735868362_7842912612596061619_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=tbJp9-AjstsAX_owFJg&_nc_oc=AQlwMbUJGaqJmPM29vldxecRGJgDB4LJjQgfVoyzaEmMihgdowBGeLwbelpX3j4kPKk&_nc_ht=scontent.fmnl4-1.fna&oh=00_AfBNpfP-ApeaSio7L4D0St1qXe5ruApordAEbAlr8c_EhA&oe=65B23762" alt="Profile Image">
    </div>
    <div class="col-2 title-col">
        Letran Cyberknights
    </div>
    <div class="col-9 description-col">
        Creative Officer and Vice President (2023-2024)
    </div>
</div>