
<br>

<div class="row">
    <div class="col-3">
        <h5 class="mb-0 card-title1"> Full Name </h5>
    </div>
    <div class="col-9 text-secondary text-light">
        <h5 class="mb-0 card-descp1"> Shayyanne Dominiq Lee Marasigan </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h5 class="mb-0 card-title1"> Age: </h5>
    </div>
    <div class="col-9 text-secondary text-light">
        <h5 class="mb-0 card-descp1"> 21 years old </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h5 class="mb-0 card-title1"> Birthday: </h5>
    </div>
    <div class="col-9 text-secondary text-light">
        <h5 class="mb-0 card-descp1"> November 8, 2002 </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h5 class="mb-0 card-title1"> Email: </h5>
    </div>
    <div class="col-9 text-secondary text-light">
        <h5 class="mb-0 card-descp1"> shayyannedominiq.marasigan.letran.edu.ph </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h5 class="mb-0 card-title1"> Address: </h5>
    </div>
    <div class="col-9 text-secondary text-light">
        <h5 class="mb-0 card-descp1"> 2114 F. Munoz St. Malate Manila </h5>
    </div>
</div>
