
<br>
<div class="row">
    <div class="col-3">
        <h4 class="mb-0"> Full Name </h4>
    </div>
    <div class="col-9 text-secondary">
        <h5 class="mb-0"> Shayyanne Dominiq Lee Marasigan </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h4 class="mb-0"> Age: </h4>
    </div>
    <div class="col-9 text-secondary">
        <h5 class="mb-0"> 21 years old </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h4 class="mb-0"> Birthday: </h4>
    </div>
    <div class="col-9 text-secondary">
        <h5 class="mb-0"> November 8, 2002 </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h4 class="mb-0"> Email: </h4>
    </div>
    <div class="col-9 text-secondary">
        <h5 class="mb-0"> shayyannedominiq.marasigan.letran.edu.ph </h5>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        <h4 class="mb-0"> Home Address: </h4>
    </div>
    <div class="col-9 text-secondary">
        <h5 class="mb-0"> 2114 F. Munoz St. Malate Manila </h5>
    </div>
</div>
