/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: 1px solid #ffffff; /* Set the border color to white */
}