
<style>
        .card {
        border: none;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
    }

</style>

<br><br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://scontent.fmnl4-2.fna.fbcdn.net/v/t39.30808-1/366363667_787697053365694_609903926916752472_n.jpg?stp=dst-jpg_s200x200&_nc_cat=105&ccb=1-7&_nc_sid=596444&_nc_ohc=57FDB84ORJUAX9OoADc&_nc_ht=scontent.fmnl4-2.fna&oh=00_AfDlptUPf_uLWW3IalAaNcXcFa_Fe8emdgk2vLcosiEeUA&oe=65B0E2F9" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">St. Anthony School Manila</h5>
                    <p class="card-text"><span class="bg-primary text-white p-2 rounded d-inline-block w-100">2007-2015</span></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://scontent.fmnl4-1.fna.fbcdn.net/v/t39.30808-1/309664429_466050212216110_4119912416970654707_n.jpg?stp=c7.0.320.320a_dst-jpg_p320x320&_nc_cat=103&ccb=1-7&_nc_sid=596444&_nc_ohc=bpx6j9yqdIoAX_zhH70&_nc_ht=scontent.fmnl4-1.fna&oh=00_AfA8W5PWQzbAO9gsPcJT-_TfQ_li9dzN4E3-5sag2b4Pdw&oe=65B0A1B2" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Paco Catholic School Manila</h5>
                    <p class="card-text"><span class="bg-primary text-white p-2 rounded d-inline-block w-100">2019-2021</span></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Seal_of_Colegio_de_San_Juan_de_Letran.svg/1200px-Seal_of_Colegio_de_San_Juan_de_Letran.svg.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> Colegio de San Juan de Letran </h5>
                    <p class="card-text"><span class="bg-primary text-white p-2 rounded d-inline-block w-100">2021-Present</span></p>
                </div>
            </div>
        </div>
    </div>
<br>